{
  "comments": false,
  "compact": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime"
  ]
}
